@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

#restaurantList {
  height: 85vh;
  overflow-y: auto;
}
#reviewList {
  margin: 1rem;
  max-height: 64vh;
  overflow-y: auto;
}

h3 {
  margin: 0 0 3vh 5vh;
  font-family: "Lato", sans-serif;
  text-align: center;
}
.restaurantCard {
  display: flex;
  justify-content: flex-start;
  object-fit: cover;
  object-position: 20% 10px;
  height: 130px;
  background-color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  text-align: left;
  margin: 0.5rem;
  border-radius: 10px;
  border: 1px solid #c9c9c9;
  box-shadow: 3px 3px 3px #dddddd;
  overflow: hidden;
  transition: all 0.5s;
}
.restaurantCard:hover {
  background-color: #e4e4e4;
}
.restaurantCard:active {
  border: 1px solid green;
  box-shadow: 2px 2px 2px #8ead8f;
}
.restaurantItemRating {
  position: absolute;
  z-index: 1000;
  text-align: center;
  background-color: #3b7cad;
  color: white;
  width: 25%;
  padding: 0.4rem;
  margin: 0;
  border-right: 1px solid rgba(255, 255, 255, 0.445);
  border-bottom: 1px solid rgba(255, 255, 255, 0.445);
}
.restaurantCardStreetView {
  position: relative;
  width: 80%;
  overflow: hidden;
}
.streetViewImg {
  width: 100%;
  height: auto;
}
.restaurantName {
  margin: 0;
}
.restaurantAddress {
  margin-top: 0.2rem;
}

.restaurantCardInfo {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.restaurantBtnContainer {
  display: flex;
  justify-content: space-evenly;
}
#filterDiv {
  margin-bottom: 1rem;
}
#filterDiv h4 {
  margin-bottom: 0;
}
.btnBackToResults {
  margin-bottom: 1rem;
}
.btnRestaurantReviews {
  box-shadow: inset 0px 39px 0px -24px #248bcf;
  background-color: #016ac0;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  padding: 6px 6px;
  text-decoration: none;
  width: 7em;
  transition: all 0.5s;
  margin-right: 1em;
}
.btnAddRestaurantReviews {
  box-shadow: inset 0px 39px 0px -24px #24704c;
  background-color: #1e490b;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  padding: 6px 6px;
  text-decoration: none;
  width: 7em;
  transition: all 0.5s;
}

.btnRestaurantReviews:hover,
.btnAddRestaurantReviews:hover {
  box-shadow: none;
}

@media only screen and (max-width: 600px) {
  .restaurantCard {
    height: auto;
  }
  .restaurantCardStreetView,
  .restaurantCardInfo {
    width: 100%;
  }
  .btnRestaurantReviews,
  .btnAddRestaurantReviews {
    width: 7em;
  }
}
#restaurantList h3 {
  margin: 1rem;
}

.btnBackToResults {
  box-shadow: inset 0px 39px 0px -24px #5a5a5a;
  background-color: #3b3b3b;
  border-radius: 4px;
  border: none;
  color: white;
  margin: 0.5rem;
  padding: 6px 6px;
  text-decoration: none;
  width: fit-content;
  transition: all 0.5s;
}
